<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ad</key>
	<dict>
		<key>ad_1</key>
		<array>
			<dict>
				<key>ad_name</key>
				<string>top广告</string>
				<key>id</key>
				<string>1</string>
				<key>key</key>
				<string></string>
				<key>param</key>
				<dict>
					<key>is_login</key>
					<string>1</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<key>picture</key>
				<string>/original/group1/M04/01/17/c-eohVexcKiIYE6GAAO0bzwROnUAABlsAKnE0QAA7SH121.jpg</string>
				<key>postion</key>
				<string>1</string>
				<key>sort</key>
				<string>1</string>
				<key>type</key>
				<string>1</string>
				<key>url</key>
				<string>http://mall.goonbaby.com/moblie/active/queryactive/2</string>
			</dict>
		</array>
		<key>ad_2</key>
		<array>
			<dict>
				<key>ad_name</key>
				<string>mid广告样例</string>
				<key>id</key>
				<string>2</string>
				<key>key</key>
				<string></string>
				<key>param</key>
				<dict>
					<key>batch_id</key>
					<string>2016080221334992770345</string>
					<key>grow_id</key>
					<string>2016080221371585684240</string>
					<key>is_double</key>
					<string>1</string>
					<key>is_login</key>
					<string>0</string>
					<key>type</key>
					<string>1</string>
					<key>user_id</key>
					<string>2016072616300164240158</string>
				</dict>
				<key>picture</key>
				<string>/original/group1/M01/01/01/c-eohVeMkQGIAecTAAJ_6RDCbtkAABf0ALbUzQAAoAB621.png</string>
				<key>postion</key>
				<string>2</string>
				<key>sort</key>
				<string>1</string>
				<key>type</key>
				<string>1</string>
				<key>url</key>
				<string>http://player.goonbaby.com/luckpan/i1.htm</string>
			</dict>
			<dict>
				<key>ad_name</key>
				<string>mid广告活动</string>
				<key>id</key>
				<string>3</string>
				<key>key</key>
				<string></string>
				<key>param</key>
				<dict>
					<key>is_login</key>
					<string>1</string>
					<key>type</key>
					<string>2</string>
				</dict>
				<key>picture</key>
				<string>/original/group1/M01/01/01/c-eohVeMkQGIAecTAAJ_6RDCbtkAABf0ALbUzQAAoAB621.png</string>
				<key>postion</key>
				<string>2</string>
				<key>sort</key>
				<string>2</string>
				<key>type</key>
				<string>1</string>
				<key>url</key>
				<string>http://player.how-times.com/book/b2016081619525404610196.htm</string>
			</dict>
		</array>
	</dict>
	<key>tags</key>
	<array>
		<dict>
			<key>desc</key>
			<string>爱情</string>
			<key>id</key>
			<string>1</string>
			<key>logo</key>
			<string>/original/group1/M12/00/81/c-eohVeMdraIZrWtAAASmtByDREAAAwiAP_7OIAABMe332.png</string>
			<key>name</key>
			<string>爱情</string>
			<key>status</key>
			<string>1</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>亲子</string>
			<key>id</key>
			<string>2</string>
			<key>logo</key>
			<string>/original/group1/M02/00/F7/c-eohVeMdu-INW6gAAAXr8RoCqIAABcTAP_6DcAABfJ894.png</string>
			<key>name</key>
			<string>亲子</string>
			<key>status</key>
			<string>1</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>毕业季</string>
			<key>id</key>
			<string>9</string>
			<key>logo</key>
			<string>/original/group1/M0F/00/99/c-eohVeMd7SILChvAAASyu7Zrm8AAA5vwP_7IUAABN7601.png</string>
			<key>name</key>
			<string>毕业季</string>
			<key>status</key>
			<string>1</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>旅行</string>
			<key>id</key>
			<string>4</string>
			<key>logo</key>
			<string>/original/group1/M09/00/65/c-eohVexzLSIS3f1AAAO48a8z4gAAAniQP_8PgAAA8I046.png</string>
			<key>name</key>
			<string>旅行</string>
			<key>status</key>
			<string>0</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>美食</string>
			<key>id</key>
			<string>5</string>
			<key>logo</key>
			<string>/original/group1/M0A/00/E0/c-eohVexzM6IZ1KHAAAULGpP2iQAABT9gP_67YAABRK941.png</string>
			<key>name</key>
			<string>美食</string>
			<key>status</key>
			<string>0</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>艺术</string>
			<key>id</key>
			<string>6</string>
			<key>logo</key>
			<string>/original/group1/M0B/00/CE/c-eohVexzOSITzRBAAASrXPB4VQAABNIAP_7SYAABLa065.png</string>
			<key>name</key>
			<string>艺术</string>
			<key>status</key>
			<string>0</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>孝心</string>
			<key>id</key>
			<string>7</string>
			<key>logo</key>
			<string>/original/group1/M0D/00/AF/c-eohVexzQCIK7eOAAAOLmkVba8AABBoAP_8bUAAA5L376.png</string>
			<key>name</key>
			<string>孝心</string>
			<key>status</key>
			<string>0</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>闺蜜</string>
			<key>id</key>
			<string>8</string>
			<key>logo</key>
			<string>/original/group1/M11/00/2A/c-eohVexzWGIRzOtAAAR9WNm8AAAAAQfQP_7fEAABIP259.png</string>
			<key>name</key>
			<string>闺蜜</string>
			<key>status</key>
			<string>0</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>青春</string>
			<key>id</key>
			<string>3</string>
			<key>logo</key>
			<string>/original/group1/M08/00/86/c-eohVexzI6IP8NmAAASOUVrU04AAAyhwP_7TMAABLN725.png</string>
			<key>name</key>
			<string>青春</string>
			<key>status</key>
			<string>0</string>
		</dict>
		<dict>
			<key>desc</key>
			<string>私人订制</string>
			<key>id</key>
			<string>10</string>
			<key>logo</key>
			<string>/original/group1/M00/00/9D/c-eohVexzX6IIhD9AAANBK3yqvEAAA7JwP_8uMAAA0d422.png</string>
			<key>name</key>
			<string>私人订制</string>
			<key>status</key>
			<string>0</string>
		</dict>
	</array>
	<key>tmplate_tag</key>
	<array>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>picture</key>
			<string>/original/group1/M03/01/17/c-eohVexKIyIGx4dAAO4nXJZ5nEAABlpAIisOYAA7i1218.png</string>
			<key>sort</key>
			<string>1</string>
			<key>tag_id</key>
			<string>1</string>
		</dict>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>picture</key>
			<string>/original/group1/M07/01/17/c-eohVexKOyITX6GAAOZqKByunUAABlqgB4fcEAA5nA078.png</string>
			<key>sort</key>
			<string>2</string>
			<key>tag_id</key>
			<string>2</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>picture</key>
			<string>/original/group1/M09/01/17/c-eohVexKSWICF9dAAPdrG-2XY8AABloQOfLbwAA93E162.png</string>
			<key>sort</key>
			<string>3</string>
			<key>tag_id</key>
			<string>3</string>
		</dict>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>picture</key>
			<string>/original/group1/M0A/01/17/c-eohVexKUiITE7hAASo2_ucZEMAABlogKRke0ABKjz591.png</string>
			<key>sort</key>
			<string>4</string>
			<key>tag_id</key>
			<string>7</string>
		</dict>
		<dict>
			<key>id</key>
			<string>5</string>
			<key>picture</key>
			<string>/original/group1/M0D/01/17/c-eohVexKYCIb8i1AAPEbKtSf10AABlowLuvW0AA8SE804.png</string>
			<key>sort</key>
			<string>5</string>
			<key>tag_id</key>
			<string>8</string>
		</dict>
		<dict>
			<key>id</key>
			<string>6</string>
			<key>picture</key>
			<string>/original/group1/M11/01/17/c-eohVexKgeITBipAAUmEhR3inMAABlngP13ccABSYq331.png</string>
			<key>sort</key>
			<string>6</string>
			<key>tag_id</key>
			<string>4</string>
		</dict>
	</array>
</dict>
</plist>
